<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Tentang saya</title>
</head>
<body>
    <header>
        <h1>Tentang Saya</h1>
        <nav>
            <a href="/">Beranda</a>
            <a href="/projects">Pengalaman</a>
            <a href="/skills">Kemampuan</a>
            <a href="/about">Tentang</a>
            <a href="/contact">Kontak</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Who Am I?</h2>
            <p>Nama saya Maro, berikut adalah portofolio saya.</p>
            
        </section>
        <section>
            <h2>My Journey</h2>
            <p>Pengalaman saya dalam dunia teknologi dimulai dengan mempelajari bahasa pemrograman dan telah berkembang menjadi membangun aplikasi web. Saya berkembang di lingkungan yang dinamis di mana saya dapat terus belajar dan berkembang.</p>
             
        </section>
    </main>
    <footer>
        <p>© 2025 Maro. Copy Pasting. | 🌐 Kunjungi <a href="https://github.com/MaroPangrib" target="_blank">GitHub</a>!</p>
    </footer>  
</body>
</html>
