<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Pengalaman</title>
</head>
<body>
    <header>
        <h1>Pengalaman saya</h1>
        <nav>
            <a href="/">Beranda</a>
            <a href="/projects">Pengalaman</a>
            <a href="/skills">Kemampuan</a>
            <a href="/about">Tentang</a>
            <a href="/contact">Kontak</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Pengalaman 1: Macau</h2>
            <p>Saya pernah mengikuti kompetisi eksibisi teknologi di negara Macau</p>
            <a href="#">View</a>
        </section>
        <section>
            <h2>Pengalaman 2: Bali</h2>
            <p>Saya pernah mengunjungi kota dewata Bali, selama masa kuliah.</p>
            <a href="#">View</a>
        </section>
        <!-- Add more projects as needed -->
    </main>
    <footer>
        <p>© 2025 Maro. Copy Pasting. </p>
    </footer>
</body>
</html>
