<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Skills</title>
</head>
<body>
    <header>
        <h1>My Skills</h1>
        <nav>
            <a href="/">Beranda</a>
            <a href="/projects">Pengalaman</a>
            <a href="/skills">Kemampuan</a>
            <a href="/about">Tentang</a>
            <a href="/contact">Kontak</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bahasa Pemrograman</h2>
            <ul>
                <li>C/C++</li>
                <li>Python</li>
                <li>JavaScript</li>
                <!-- Add more languages as needed -->
            </ul>
        </section>
        <section>
            <h2>Aplikasi</h2>
            <ul>
                <li>Microsoft Office</li>
                <li>Google Workspace</li>
                <li>Desain Grafis</li>
                <!-- Add more technologies as needed -->
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2025 Maro. Copy Pasting. | 🌐 Kunjungi <a href="https://github.com/MaroPangrib" target="_blank">GitHub</a>!</p>
    </footer> 
</body>
</html>
